* {
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
}
$azul:rgb(0, 0, 139);
$roxo:rgba(233, 173, 248, 0.266);
$laranja:#f7b600;
$amarelo: rgb(183, 183, 4);
$branco:#ffff;
$preto:#000000;