* {
  margin: 0;
  padding: 0;
  font-family: "Audiowide", sans-serif;
}

body {
  font-size: 1em;
}
body h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}
body h2 {
  font-size: 1em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
body h3 {
  font-size: 0.8em;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .rede-social {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1em;
  padding: 10px;
  background-color: rgba(233, 173, 248, 0.266);
  margin: 10px;
  border-radius: 10px;
  height: 90px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

#area-cabecalho {
  background-color: rgb(0, 0, 139);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
#area-cabecalho #area-menu a:link,
#area-cabecalho #area-menu a:visited {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}
#area-cabecalho #area-menu a:hover {
  color: #f7b600;
  background-color: ffff;
  border-radius: 3px;
}
#area-cabecalho #area-menu ul {
  display: flex;
  justify-content: center;
  width: auto;
  flex-wrap: wrap;
}
#area-cabecalho #area-logo {
  text-align: center;
}
#area-cabecalho #area-logo,
#area-cabecalho #area-menu {
  padding: 10px;
}

ul li {
  list-style-type: none;
}

a {
  padding: 3px 12px;
  text-decoration: none;
  color: white;
}

.amarelo {
  color: rgb(183, 183, 4);
}

.branco {
  color: white;
}

#footer {
  background-color: rgb(0, 0, 139);
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
#footer #footer a:hover {
  color: #f7b600;
  background-color: white;
  border-radius: 3px;
}
#footer .conteudo-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.9em;
  flex-wrap: wrap;
}
#footer .estamos-localizados {
  color: white;
  margin-top: 20px;
}
#footer .contatos {
  color: white;
  width: auto;
  margin-top: 20px;
}
#footer .redes-sociais {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin-top: 20px;
}
#footer .links-rapidos {
  color: white;
  width: auto;
  margin-top: 20px;
}
#footer .icone-rede-social {
  width: 5em;
}

.hardware {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-hardware {
  width: 20rem;
  height: 20rem;
  border-radius: 10%;
  overflow: hidden;
  margin-bottom: 10px;
}

.placa {
  opacity: 0.7;
}

#formMensagem {
  margin: 50px;
  padding: 20px;
  border: 5px solid rgb(183, 183, 4);
  border-radius: 6px;
  width: 50%;
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

.form-style {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  width: 90%;
}

.centro-faleconosco {
  display: flex;
  justify-content: center;
}

.centro-home {
  margin-top: 20px;
  padding: 20px;
}

.centro-servicos {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centro-contato {
  margin-top: 20px;
  padding: 50px;
  margin-bottom: 20px;
  height: 500px;
}

.centro-sobre {
  margin-top: 20px;
  padding: 50px;
  margin-bottom: 20px;
}

.link-rede-social {
  color: rgb(0, 0, 139);
  text-decoration: underline;
}

.item-servico {
  margin: 10px;
  background-color: rgba(233, 173, 248, 0.266);
  border-radius: 10px;
}

#servico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  column-gap: 10px;
}

#servico ul {
  padding: 25px;
}

#servico ul li {
  list-style-type: circle;
}

.imagens-hardware {
  width: 50em;
}

.label-form {
  text-align: start;
  margin-bottom: 3px;
  margin-top: 3px;
}

.input-form {
  background-color: white;
  border-radius: 3px;
  border-color: #000000;
  block-size: auto;
}

.consertos-hardware {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
}

#imagem-hardware {
  background-image: url("/img/placa2.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  padding: 20px;
  width: 300px;
}

#imagem2-hardware {
  background-image: url("/img/notebook.jpg");
  background-size: cover;
  height: 200px;
  background-repeat: no-repeat;
  padding: 20px;
  width: 300px;
}

.consertos-hardware ul li {
  color: #000000;
  list-style-type: disc;
}

#grid-redes-sociais {
  display: grid;
  grid-template-columns: auto;
  /* column-gap: 50px; */
}

#imagem-hardware:hover {
  width: 350px;
  height: 300px;
}

#imagem2-hardware:hover {
  width: 350px;
  height: 300px;
}

.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__pulse {
  --animate-delay: 2s;
  --animate-repeat: infinite;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
